.container {
  margin: 0 auto;
  padding-top: 2em;
}

@media all and (min-width: 1200px) {
  .container {
    padding-left: 26%;
    padding-right: 26%;
  }
}

@media all and (max-width: 1200px) {
  .container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media all and (max-width: 800px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.Wizard {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #006bce;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3.5em;
  z-index: -5;
}

@media all and (max-width: 360px) {
  .connecting-line {
    top: 2em;
  }
}
@media all and (max-width: 450px) {
  .connecting-line {
    top: 2.7em;
  }
}